<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
          
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        console.log('ready');
      });
    
    </script>
    
  </head>
  <body>
    <p>One</p>
  </body>
</html>
