
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}

#container {
  padding-left: 30px;
  padding-right: 30px;
  background-image: url('/img/bg.jpg');
  background-repeat: both;
  height: 100%;  
}

#content {
  min-height: 70%;
  background-color: #fff;
  border: 2px solid #ccc;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

/* 
 * Put around an element that needs to be centered horizontally and vertically.
 * The element must have a defined width and height.
 */
.center-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

/* blockly/javascript */

#codeWidget {
  position: relative;
  height: 100%;
  width: 100%;
}

#blocklyDiv, #code {
  height: 100%;
  width: 100%;
  z-index: -1;
}

#buttons {
  z-index: 1;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* carousel */

.carousel-container {
  padding: 50px;
}

ul.images {
  padding: 0px;
  margin: 0px;
}
